body {
  font-family:"Arial","Meiryo",sans-serif;
}
.google-fonts{
 /*ここにGoogle fontsを指定します*/
 font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Serif JP', serif;
}
.text-skyblue{
  color:skyblue
}
.text-pink{
  color: rgb(255, 192, 203)
}
.m {color:skyblue}
.p {color:rgb(255,192,203)}
h1{
  font-size: 40px;
  text-shadow: 1px 1px 2px magenta;
  letter-spacing: 1.2em;
  border-bottom: solid;
}
body{
  font-size: 20px;
  text-align: center;
}
.l{
  font-weight: bold;
}